{
  "env": {
    "node": true,
    "jest": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "linebreak-style": 0,
    "import/extensions": ["off",
      {
        "js": "always"
      }
    ]
  },
  "plugins": [
    "jest"
  ]
}
